.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.project-card {
  width: 340px;
  height: 190px;
  border-radius: 15px;
  border: 1px solid var(--border-soft);
}
