.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
}
.project-card {
  border-radius: 15px;
}
