.hero {
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 10rem;
}

.hero-role {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
}

.hero-stack {
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}

.hero-description {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
  padding: 6px;
  color: var(--text-muted);
}

.hero-social-title {
  font-size: 2.3rem;
}
.hero-socials {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 1.5rem;
}

.hero-socials a {
  font-size: 2.5rem;
}

.linkedin-i {
  color: #0077b5;
}

.github-i {
  color: #fff;
}

.hero-socials svg {
  width: 2.5rem;
  height: 2.5rem;
}

.gmail-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.cta-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.cta-projects,
.cta-contact {
  padding: 1rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.cta-projects {
  background-color: transparent;
  color: var(--text-secondary);
  border: 2px solid var(--border-soft);
  border-radius: 8px;
}

.cta-contact {
  background-color: transparent;
  color: var(--text-secondary);
  border: 2px solid var(--border-soft);
  border-radius: 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    margin:2rem 0 13rem 0;
  }
  .hero-role {
    font-size: 2.8rem;
  }
  .hero-stack {
    font-size: 1.1rem;
  }
  .hero-description {
    font-size: 1.4rem;
    padding: 4px;
  }
  .cta-links {
    font-size: 1.3rem;
  }
.hero-social-title {
  font-size: 2.6rem;
}
.hero-socials svg {
  width: 3rem;
  height: 3rem;
}
.gmail-icon {
  width: 3rem;
  height: 3rem;
}
}
@media (min-width: 1024px) {/* computer styles*/

  .hero {
    margin:1rem 0 13rem 0;
  }

  .hero-role {
    font-size: 3.3rem;
  }

  .hero-stack {
    font-size: 1rem;
  }

  .hero-description {
    font-size: 1.3rem;
  }

  .gmail svg {
    font-size: 1.3rem;
  }

 .cta-projects,
.cta-contact {
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 1.25rem;
}

.cta-projects:hover,
.cta-contact:hover {
  background-color: var(--bg-btn-hover);
}

.cta-projects:active,
.cta-contact:active {
  background-color: var(--bg-btn-active);
  transform: scale(1.1);
}

  .hero-social-title {
    font-size: 2.8rem;
  }
  .hero-socials svg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .gmail-icon {
    width: 3.3rem;
    height: 3.3rem;
  }
}