.skills-section {
  padding: 20px;
}
.skills-title {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skills-card {
  border: 1px solid var(--border-soft);
  border-radius: 15px;
}
