.skills-section {
  padding: 20px;
}

.skills-title {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.skills-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  border-radius: 15px;
  padding: 10px;
}
.skills-item {
  border: 1px solid var(--border-soft);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
}
.item-icon {
  font-size: 2.8rem;
  margin-bottom: 10px;
}
.item-name {
  font-size: 1rem;
}

.html-icon {
  color: #e34f26;
}
.css-icon {
  color: #1572b6;
}

.typescript-icon {
  color: #3178c6;
}

.git-icon {
  color: #f05032;
}

.react-icon {
  color: #61dafb;
}
