.about-title {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  margin-top: 20px;
}

.about-card-text {
  max-width: 340px;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text-muted);
  border: 1px solid var(--border-soft);
  border-radius: 15px;
  padding: 10px;
}
