.about-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-card-text {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
  padding: 6px;
  color: var(--text-muted);
  border: 1px solid var(--border-soft);
  border-radius: 15px;
  padding: 10px;
}
