.contact-section {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-title {
  text-align: center;
  font-size: 2.6rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;

  border-radius: 8px;
  border: 1px solid #444;
  background-color: #111;
  color: #fff;
}

.contact-form button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: #6c63ff;
  color: white;
}
