nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu-btn {
  background: none;
  border: none;
  color: #ededed;
}

.me {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.me img {
  height: 60px;
  width: auto;
  border-radius: 500%;
}
.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid var(--border-soft);
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  padding: 15px 15px;
  position: absolute;
  top: 95px;
  left: 125px;
}
.mobile-menu a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon-btn {
  background: none;
  border: none;
  padding: 2px 0px;
  color: inherit;
}

.icon {
  padding: 4px;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}
.text {
  font-size: 14px;
  display: inline-flex;
}
