  nav {
    display: flex;
    justify-Content: space-between;
    align-items: center;
    padding: 3rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .menu-btn {
  background: none;
  border: none;
  color: #EDEDED; 
}

  .title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .links {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 6px;
  }
  a{
    text-decoration: none;
    color: #6f6e6e
  }
