nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu-btn {
  background: none;
  border: none;
  color: #ededed;
}

.me {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.me img {
  height: 60px;
  width: auto;
  border-radius: 500%;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.mobile-menu {
  border: 2px solid var(--border-soft);
  border-radius: 15px;
  text-align: center;
  padding: 0;
  width: 100px;
  position: absolute;
  top: 75px;
  left: 290px;
}
a {
  text-decoration: none;
  color: var(--text-muted);
}

li {
  list-style: none;
  width: 100%;
}
