@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main section {
  padding: 6rem 1.3rem;
}
:root {
  --bg-main: #121212;
  --bg-card: #181818;
  --text-main: #ededed;
  --text-secondary: #e6e6e6fd;
  --text-muted: #b3b3b3;
  --border-soft: #6f6d6da7;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Roboto", sans-serif;
}
